{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Incalls', '', 'long-arrow-right', ['List']) }}
{% endblock %}

{% block content %}
  {% call build_form_containers('Incall' ~ ' ' ~ resources.incall.name, 'envelope') %}
    {% call build_form(action=url_for('.IncallView:put', id=resources.incall.id)) %}
      {% call add_default_fields(form=form, submit_value="Update") %}
        {{ render_field(form.did) }}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endblock %}
